@media screen and (min-width: 768px) {
  .menu__item {
    list-style-type: none;
    display: block;
    position: relative;
    float: right;
    background: #07141C;
    z-index: 10;
  }

  .menu__item:hover,
  .menu__item:focus-within {
    background-color: rgb(22, 62, 87);
    cursor: pointer;
  }

  .menu>.menu__list>.menu__item:nth-of-type(1),
  .menu>.menu__list>.menu__item:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu__item {
    width: 100%;
    border-bottom: rgb(255, 255, 255) solid 1px;
    z-index: 10;
    background: #07141C;
    list-style-type: none;
    cursor: pointer;
  }

  .menu__item:last-of-type {
    border-bottom: none;
  }

  .menu>.menu__list>.menu__item:nth-of-type(1),
  .menu>.menu__list>.menu__item:nth-of-type(2) {
    display: block;
  }

  .menu>.menu__list>.menu__item>.menu__list>.menu__item {
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: none;
    text-transform: none;
  }
}