.item {
  margin-bottom: 20px;
}

.link {
  font-family: Roboto;
  line-height: 1.5;
  text-decoration: none;
  color: #0A5992;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.link_active {
  font-weight: 700;
}

.link:hover {
  color: rgb(97, 179, 238);
}