.history {
  width: 100%;
}

.image {
  width: 80%;
}

.text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
}

.accent {
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(37, 65, 92);
}

@media screen and (max-width: 1000px) {
  .image {
    width: 100%;
  }
  .text {
    width: 100%;
  }
}