.menu__item-link {
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}

.menu__list .menu__item .menu__list .menu__item .menu__item-link {
  margin: 0;
}