.menu__item-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .menu > .menu__list > .menu__item > .menu__list > .menu__item > .menu__item-link > .menu__item-text {
        text-align: right;
    }
}

.menu__item-text_span {
  font-size: 10px;
  margin-left: 5px;
}