.news {
  width: 363px;
  display: inline-block;
}

.title {
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.newslist {
  margin: 0;
  padding: 0;
}