.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container_opened {
  display: flex;
}

.popup {
  min-width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #252525;
  position: relative;
  padding:10px;
}

.close_button {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: #551414;
  background-image: url('../../../images/close.svg');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #272727;
  transition: background-color 300ms ease;
}

.close_button:hover {
  background-color: #b14747;
  background-image: url('../../../images/close_hover.svg');
}

.image_title_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.image_block {
  position: relative;
}

.button_block {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.image_button {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid rgb(96, 124, 133);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 0;
  text-align: center;
  vertical-align:top ;
  font-size: 16px;
}

.add_image_button, .change_image_button {
  background-color: #07141c;
}

.change_image_button {
  background-image: url('../../../images/edit.svg');
  background-size: 12px;
}

.add_image_button:hover, .change_image_button:hover {
  background-color: #35759c;
}

.delete_image_button {
  background-color: #551414;
  background-image: url('../../../images/trash.svg');
  background-size: 15px;
  margin-left: 5px;
}

.delete_image_button:hover {
  background-color: #b14747;
}

.title_block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  margin: 20px 20px 30px;
}

.input_title {
  width: 530px;
  height: 70px;
}

.label_input_file {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  transition:border 300ms ease;
  text-align: center;
  display: flex;
  align-items: center;
}

.label_input_file_selected {
  border: 2px dashed #64c052;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.span {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  color: #557b92;
}

.span_selected {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  color: #347527;
}

.input_file {
  outline:0;
  opacity:0;
  pointer-events:none;
  user-select:none;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.label {
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.input {
  margin-bottom: 30px;
  height: 30px;
}

.textarea {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.submit_error_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.submit {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  background-color: #07141c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.submit:hover {
    background-color: #11374e;
}

.error {
  width: 400px;
  font-family: Roboto;
  color: rgb(107, 21, 21);
  font-size: 12px;
  margin: 0 0 0 20px;
}